#main-container{
    display: flex;
}
#nav{
    flex-basis: 20%;
}
#appview{
    margin-left: 1rem;
}


@media screen and (max-width: 1700px) {
    #appview{
        flex-direction: column;
        margin-left: 20.5rem;
        
    }
  }
@media screen and (max-width: 1166px) {
    #appview{
        flex-direction: column;
        margin-left: 13.5rem;
    }
  }