#color{
    background: rgb(78, 78, 221)!important
  }
  #nav-contact-add{
    font-size: .8rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: .5rem;
  }
.logout{
  position: absolute !important;
  bottom: 1rem !important;
  width: 100%;
  color: aliceblue;
  text-align: center;
}
a{
  text-decoration: none;
}